*{
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#game{
    display: flex;
}

h2 {
    flex:100%;
    text-align: center;

}

#sub-text{
    flex: 100%;
}

#interface{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 60%;
    flex:100%
}

#interface button{
    flex:100%;
    margin: 10px;
    padding: 8px;
}

#buttons{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#answer-container{
    flex:100%;
    display: flex;
    align-items: center;
}

#answers-title{
    flex:40%;
    text-align: right;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 60%;
}

ul li{
    margin: 0 30;
}